<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.2">
  <compounddef id="db/dc1/class_label_mapper" kind="class" prot="public">
    <compoundname>LabelMapper</compoundname>
      <sectiondef kind="private-attrib">
      <memberdef kind="variable" id="db/dc1/class_label_mapper_1a502dd45c0473bd30c6abd25959eea2e8" prot="private" static="no" mutable="no">
        <type>QDict&lt; Debug::DebugMask &gt;</type>
        <definition>QDict&lt;Debug::DebugMask&gt; LabelMapper::m_map</definition>
        <argsstring></argsstring>
        <name>m_map</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="C:/Users/Mat/Projects/doxygraph/examples/doxygen-1.8.4/src/debug.cpp" line="72" bodyfile="C:/Users/Mat/Projects/doxygraph/examples/doxygen-1.8.4/src/debug.cpp" bodystart="72" bodyend="-1"/>
      </memberdef>
      </sectiondef>
      <sectiondef kind="public-func">
      <memberdef kind="function" id="db/dc1/class_label_mapper_1a4374423c20ded4260eb27a7180389a63" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type></type>
        <definition>LabelMapper::LabelMapper</definition>
        <argsstring>()</argsstring>
        <name>LabelMapper</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="C:/Users/Mat/Projects/doxygraph/examples/doxygen-1.8.4/src/debug.cpp" line="57" bodyfile="C:/Users/Mat/Projects/doxygraph/examples/doxygen-1.8.4/src/debug.cpp" bodystart="56" bodyend="65"/>
      </memberdef>
      <memberdef kind="function" id="db/dc1/class_label_mapper_1a07412bb4afae7609fb8d03866433ee2e" prot="public" static="no" const="yes" explicit="no" inline="yes" virt="non-virtual">
        <type>Debug::DebugMask *</type>
        <definition>Debug::DebugMask* LabelMapper::find</definition>
        <argsstring>(const char *s) const </argsstring>
        <name>find</name>
        <param>
          <type>const char *</type>
          <declname>s</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="C:/Users/Mat/Projects/doxygraph/examples/doxygen-1.8.4/src/debug.cpp" line="67" bodyfile="C:/Users/Mat/Projects/doxygraph/examples/doxygen-1.8.4/src/debug.cpp" bodystart="66" bodyend="70"/>
      </memberdef>
      </sectiondef>
    <briefdescription>
<para>Class representing a mapping from debug labels to debug IDs. </para>    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <location file="C:/Users/Mat/Projects/doxygraph/examples/doxygen-1.8.4/src/debug.cpp" line="54" bodyfile="C:/Users/Mat/Projects/doxygraph/examples/doxygen-1.8.4/src/debug.cpp" bodystart="53" bodyend="73"/>
    <listofallmembers>
      <member refid="db/dc1/class_label_mapper_1a07412bb4afae7609fb8d03866433ee2e" prot="public" virt="non-virtual"><scope>LabelMapper</scope><name>find</name></member>
      <member refid="db/dc1/class_label_mapper_1a4374423c20ded4260eb27a7180389a63" prot="public" virt="non-virtual"><scope>LabelMapper</scope><name>LabelMapper</name></member>
      <member refid="db/dc1/class_label_mapper_1a502dd45c0473bd30c6abd25959eea2e8" prot="private" virt="non-virtual"><scope>LabelMapper</scope><name>m_map</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
