<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.2">
  <compounddef id="d8/d78/class_xml_section_mapper" kind="class" prot="public">
    <compoundname>XmlSectionMapper</compoundname>
    <basecompoundref prot="public" virt="non-virtual">QIntDict&lt; char &gt;</basecompoundref>
      <sectiondef kind="public-func">
      <memberdef kind="function" id="d8/d78/class_xml_section_mapper_1a0fd6ed832cad62cddc5a095133d40aab" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type></type>
        <definition>XmlSectionMapper::XmlSectionMapper</definition>
        <argsstring>()</argsstring>
        <name>XmlSectionMapper</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="C:/Users/Mat/Projects/doxygraph/examples/doxygen-1.8.4/src/xmlgen.cpp" line="75" bodyfile="C:/Users/Mat/Projects/doxygraph/examples/doxygen-1.8.4/src/xmlgen.cpp" bodystart="74" bodyend="113"/>
      </memberdef>
      </sectiondef>
    <briefdescription>
<para>Helper class mapping MemberList::ListType to a string representing. </para>    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <inheritancegraph>
      <node id="5296">
        <label>XmlSectionMapper</label>
        <childnode refid="5297" relation="public-inheritance">
        </childnode>
      </node>
      <node id="5297">
        <label>QIntDict&lt;char&gt;</label>
      </node>
    </inheritancegraph>
    <collaborationgraph>
      <node id="5298">
        <label>XmlSectionMapper</label>
        <childnode refid="5299" relation="public-inheritance">
        </childnode>
      </node>
      <node id="5299">
        <label>QIntDict&lt;char&gt;</label>
      </node>
    </collaborationgraph>
    <location file="C:/Users/Mat/Projects/doxygraph/examples/doxygen-1.8.4/src/xmlgen.cpp" line="72" bodyfile="C:/Users/Mat/Projects/doxygraph/examples/doxygen-1.8.4/src/xmlgen.cpp" bodystart="71" bodyend="114"/>
    <listofallmembers>
      <member refid="d8/d78/class_xml_section_mapper_1a0fd6ed832cad62cddc5a095133d40aab" prot="public" virt="non-virtual"><scope>XmlSectionMapper</scope><name>XmlSectionMapper</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
