<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.2">
  <compounddef id="dc/d93/class_docbook_section_mapper" kind="class" prot="public">
    <compoundname>DocbookSectionMapper</compoundname>
    <basecompoundref prot="public" virt="non-virtual">QIntDict&lt; char &gt;</basecompoundref>
      <sectiondef kind="public-func">
      <memberdef kind="function" id="dc/d93/class_docbook_section_mapper_1a516a6e75a5ca8213f819311cc77ca5a0" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type></type>
        <definition>DocbookSectionMapper::DocbookSectionMapper</definition>
        <argsstring>()</argsstring>
        <name>DocbookSectionMapper</name>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="C:/Users/Mat/Projects/doxygraph/examples/doxygen-1.8.4/src/docbookgen.cpp" line="75" bodyfile="C:/Users/Mat/Projects/doxygraph/examples/doxygen-1.8.4/src/docbookgen.cpp" bodystart="74" bodyend="111"/>
      </memberdef>
      </sectiondef>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <inheritancegraph>
      <node id="2896">
        <label>QIntDict&lt; char &gt;</label>
      </node>
      <node id="2895">
        <label>DocbookSectionMapper</label>
        <childnode refid="2896" relation="public-inheritance">
        </childnode>
      </node>
    </inheritancegraph>
    <collaborationgraph>
      <node id="2898">
        <label>QIntDict&lt; char &gt;</label>
      </node>
      <node id="2897">
        <label>DocbookSectionMapper</label>
        <childnode refid="2898" relation="public-inheritance">
        </childnode>
      </node>
    </collaborationgraph>
    <location file="C:/Users/Mat/Projects/doxygraph/examples/doxygen-1.8.4/src/docbookgen.cpp" line="72" bodyfile="C:/Users/Mat/Projects/doxygraph/examples/doxygen-1.8.4/src/docbookgen.cpp" bodystart="71" bodyend="112"/>
    <listofallmembers>
      <member refid="dc/d93/class_docbook_section_mapper_1a516a6e75a5ca8213f819311cc77ca5a0" prot="public" virt="non-virtual"><scope>DocbookSectionMapper</scope><name>DocbookSectionMapper</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
